{% extends "access/includes/base.html" %}

{% block title %}Settings | Smart Access Control{% endblock %}

{% block content %}

        {% load crispy_forms_tags %}
        <div class="container mt-4">
            <h2 class="mb-4">Application Settings</h2>
            {% if message %}
            <div class="alert alert-success">{{ message }}</div>
            {% endif %}
            <form class="mb-3" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Save Settings</button>
                    <a href="/" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    {% endblock %}
